<h2>Ledger</h2>

<ul>
    <li *ngFor="let ledgerEntry of ledger">
        <div>Sale Price: <span>{{ledgerEntry.salePrice | currency}}</span> </div>
        <div>Sale DateTime: <span>{{ledgerEntry.saleDateTime | date:'short'}}</span></div>
        <div>Refund DateTime: <span>{{ledgerEntry.refundDateTime | date:'short'}}</span></div>
        <div>Details: 
            <ul>
                <li *ngFor="let lineItem of ledgerEntry.lineItems">{{lineItem.name}} - {{lineItem.price | currency}} x {{lineItem.quantity}}</li>
            </ul>
        </div>
    </li>
</ul>
